.layoutContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "appbar"
    "main"
    "footer";
  height: 100vh;
}

.contentContainer {
  grid-area: main;
  padding: 8px;
}
